<div class="encyclopedia">
        <h2>饲养百科——猫咪饲养
            <!--<ul>-->
            <!--<li><a>狗狗饲养</a></li>-->
            <!--<li><a>猫咪饲养</a></li>-->
            <!--</ul>-->
        </h2>
        <div class="encyclopedia-each">
            <h2>小猫到家之后一直喵喵叫怎么办？</h2>
            <div>
                <img src="images/catRaise01.jpg" alt=""/>
                猫咪刚离开妈妈和熟悉的环境，心理会非常恐惧，它只能通过喵喵叫来表达自己的不安情绪，这时主人一定不能对猫咪进行打骂，要给猫咪鼓励与安慰，以免猫咪更加害怕。
                轻轻抱起猫咪，一边抚摸猫咪的身体（由头至背部），一边呼唤它的名字，让它熟悉你的声音和气味。带着猫咪到新家的每个角落。晚上睡觉不要把它独自关在外面或者笼
                子里，可以把窝放在它能随时看到你的地方，切记不能猫咪一叫你就出去和它说话或者把它抱上床，会让猫咪叫的更厉害，还会为它的坏习惯养成奠定基础。
            </div>
        </div>
        <div class="encyclopedia-each">
            <h2>喵咪一直躲在角落怎么办？</h2>
            <div>
                <img src="images/catRaise02.jpg" alt=""/>
                当猫咪觉得不安和害怕时，它们就会躲藏在空间比较狭小、黑暗封闭的环境中，比如盒子里、沙发下、床下，这是猫咪的正常现象。主人不要刻意去把它抱出来，只需要把食物和水放置在猫咪能看到的地方，
                等它熟悉环境之后就自然会出来玩耍。所以铲屎官们不要急躁，让猫咪逐渐熟悉你和周围的环境，毕竟决定带它回家，就要爱它，爱和耐心是拉近与猫咪距离的最重要因素。
            </div>
        </div>
        <div class="encyclopedia-each">
            <h2>猫咪最近总掉毛，是病吗？</h2>
            <div>
                <img src="images/catRaise03.jpg" alt=""/>
                猫咪需要通过掉毛、换毛来调节身体的适应能力，所以一段时间的掉毛是正常的呦。这段期间我们可以用梳子一次性解决脱落的毛发，
                除此之外，饮食方面也要特别注意。猫咪毛发的生长需要丰富的蛋白质、维生素、矿物质等营养物质。在每天的饮食中应该准备营养均衡的食物。
                准备一些高蛋白的食物，这样会更有利于猫咪新毛发的生长。当然，在这段猫毛漫天飞的尴尬日子里，主人免不了勤快一些，勤快打扫，注意个人卫生。
                为了猫咪小主，Fighting！
            </div>
        </div>
        <div class="encyclopedia-each">
            <h2>猫咪小主在长牙换牙期间不好好吃饭怎么办？</h2>
            <div>
                <img src="images/catRaise04.jpg" alt=""/>
                猫咪在长牙换牙期间，会因为牙齿不舒服（牙床又痒又疼）而容易变得没食欲。铲屎官可以给猫咪使用具有磨牙功能的磨牙玩具（如棉质玩具、丝瓜络）
                和磨牙零食（如磨牙棒）来帮助它们缓解长牙时的痛苦。但要注意的是：4月龄以下的猫咪，只能用磨牙玩具，不要使用磨牙零食，以免猫咪消化不良而腹泻。
                四月龄以上的猫咪才建议使用磨牙零食。所以，各位铲屎官们要注意一下自己猫咪的年龄，对症下药，才能帮助帮助猫咪们哦。
            </div>
        </div>
        <div class="encyclopedia-each">
            <h2>猫耳朵的清理不容忽视！</h2>
            <div>
                <img src="images/catRaise05.jpg" alt=""/>
                猫咪耳朵里的毛没有清理干净，洗澡后容易在耳内积水，从而造成耳朵发炎、发臭，对猫咪及铲屎官本身都会造成困扰。铲屎官们可以不定期查看猫耳朵情况！
                如发现耳毛太多太厚，容易堵塞空气流通，滋生细菌，引发疾病，需将过剩耳毛拔掉，但不需要太过频繁地为猫咪清理耳朵，平时猫咪只要晃晃耳朵就能自然地将里面的耳垢和水分清除。
                当猫咪耳朵中有污垢时，可在可视范围内清理，可以配合洁耳油+湿纸巾+棉花棒擦拭，注意不要将棉花棒深入耳道内，以免将污垢推得更深。
            </div>
        </div>
        <button><a href="#/">返回主页</a></button>
    </div>

