
<div class="encyclopedia">
    <h2>饲养百科——狗狗饲养</h2>
    <div class="encyclopedia-each">
        <h2>为什么要给狗狗进行牙齿管理？</h2>
        <div>
            <img src="images/dogRaise01.jpg" alt=""/>
            诱发臭味的另一种就是口臭。口臭是因为肾脏等内脏器官的疾病来出现的，但大部分是因为牙齿管理不好而出现牙龈疾病或者齿垢来发生的。
            预防齿垢或者牙龈炎也很重要，可通过漱口刷牙或者咀嚼洁牙骨(N—bone的结牙效果相当显着且便捷)来预防牙垢。狗的牙膏是跟人的不同，
            没有泡末的转氨酶成分来做的吃下去也没问题的。牙刷是依照狗的牙齿大小适当的来选择，必须4个月之前教它刷牙的习惯。
            总之，给爱犬吃洁牙骨较刷牙来预防牙垢便捷的多。
        </div>
    </div>
    <div class="encyclopedia-each">
        <h2>狗狗肛门腺护理？</h2>
        <div>
            <img src="images/dogRaise02.jpg" alt=""/>
            很多人对这个问题比较陌生，什么是肛门腺呢?肛门腺是一个吸收直肠毒素的腺体，如果不定时清理，会导致狗的体臭和肛门腺发炎。不过肛门腺对犬来说是很重要的!
            一般犬在见面的时候都会先闻闻对方的屁股，这就是在闻肛门腺的气味，肛门腺就象犬的身份证一样，每条犬的气味都是不一样的，犬的这种行为跟人类的握手是一样的。
            一般挤肛门腺都是在洗澡的时候完成的，如果不经常挤肛门腺，就会造成肛门腺发炎，一般健康的狗狗肛门腺挤出来是液体状的，如果时间长不做美容的狗狗肛门腺堵塞
            一段时间后，液体就会变成牙膏状，如果分泌物中带脓血，说明已经被感染，要尽快就医，局部封闭治疗。有很多人应该见过自家的狗坐在地上蹭屁股的情景，那就是你
            家的狗狗肛门腺不舒服了，该带它到宠物美容店做美容了。
        </div>
    </div>
    <div class="encyclopedia-each">
        <h2>狗狗生病为什么要去宠物医院？</h2>
        <div>
            <img src="images/dogRaise03.jpeg" alt=""/>
            狗与人的身体差异很大，很多人类的灵丹妙药在狗身上会引起致命的过敏。不同品种的狗、这只狗和那只狗之间的身体情况都各不相同，且用量很难把握。更何况外行
            的眼睛观察到的症状往往不准确或流于表面，因此擅自用药风险极大。应找可靠的医院和兽医诊断，并对症治疗。
        </div>
    </div>
    <div class="encyclopedia-each">
        <h2>为什么要给狗狗剪指甲？</h2>
        <div>
            <img src="images/dogRaise04.jpg" alt=""/>
            一般两周剪一次就可以，如果时间太长不剪趾甲会导致趾甲弯曲、变形最后长到肉里。爱犬的指甲过长会影响走路困难，也可以引起骨骼变形走起路来姿势不美观等
            一些问题。剪指甲看起来很简单，其实内有文章修剪时不能剪得过深，以免造成出血。如果爱犬被剪过一次流血，下次一定不让碰脚，脾气也变得厉害。
        </div>
    </div>
    <div class="encyclopedia-each">
        <h2>遛狗需要注意啥？</h2>
        <div>
            <img src="images/dogRaise05.jpg" alt=""/>
            狗狗出门散步，必须是在疫苗接种完之后身体健康的情况下出门；
            户外环境不如家里干净，所以要给狗狗做好严密的保护措施，做好驱虫工作能防止狗狗在外界感染各种寄生虫；
            虽然要注意狗狗在外清洁，但狗狗穿鞋并不适合运动，狗狗在马路上奔跑一方面是释放天性，一方面是磨指甲，穿鞋奔跑指甲容易生长变形；
            外出时难免会遇到脚爪被划伤的情况，等到严重的时候发现就完了，所以主人应该每次遛狗后都检查狗狗的脚爪，清理爪缝的石头污垢并涂抹护爪霜润泽脚爪，防止干燥起皮甚至破损感染
        </div>
    </div>

    <button><a href="#/">返回主页</a></button>
</div>
