
<div class="encyclopedia">
    <h2>饲养百科——香猪饲养</h2>
    <div class="encyclopedia-each">
        <h2>如何判断香猪真假？</h2>
        <div>
            <img src="images/pigRaise01.jpg" alt=""/>
            小香猪是特有的迷你猪品种，该品种的猪猪发育快，成年早。虽然体型不大但是一口猪牙已经发育完全，与成年猪相同，如果牙齿发育的不好，很有可能是家猪幼崽冒充的。
            小香猪的鼻子比较短，嘴巴比较长，呈现独特的面容。十分可爱，而家猪幼崽鼻长嘴短，一副传统的“猪相貌”。
            小香猪的耳朵比较小，有些立着。家猪幼崽的耳朵则比较大，像是蒲扇。猪友可以多多看看小香猪的图片，提高预判的准确率。
            小香猪的体型和家猪幼崽的体型还是有区别的，小香猪四肢比较短，圆圆肥肥，体态自然，重量较轻。大约在3斤左右。而家猪幼崽相对比较体型较大，一般在5斤以上。
            正宗小香猪吃的比较少，每天大约吃一两左右的食物，家猪幼崽吃的就比较多了，也正因为吃的多，为日后发福打下了牢固的基础。
        </div>
    </div>
    <div class="encyclopedia-each">
        <h2>小香猪吃什么？</h2>
        <div>
            <img src="images/pigRaise02.jpg" alt=""/>
            虽然是杂食动物，但是大部分小猪不吃带苦味、青草味和香料味的东西，比如萝卜、菇类、油麦菜等等，其它的都吃。一天一般分3—4餐喂养为佳。
            主食可以是米饭、面条、蔬菜。有时候为了补充营养问题喂一点水果和牛奶。补充钙的可以给他啃骨头，它们可真是超级爱啃呀。如果经济经济条件允许的话，
            每天一颗宠物钙片、一颗VC、零食小饼干和香蕉片、葡萄干当点心，小猪特别喜欢吃西瓜。但是作为主人，不能让它放纵自己随意的吃，一定要控制它的食量。
        </div>
    </div>
    <div class="encyclopedia-each">
        <h2>小香猪会随地方便么？</h2>
        <div>
            <img src="images/pigRaise03.jpg" alt=""/>
            解决拉的问题是，你要是关在笼子里的话，早上就放出来，不一会它就会自行解决。放在你觉得可以的地方，一般拉过一次，它就会找原来那地方拉的，
            和狗狗差不多的，还有猪猪吃完不久也会拉的，也还是放在原来拉的地方过不了多久，猪猪就在固定的地方解决生理问题了。其实，小香猪还是爱干净的。
        </div>
    </div>
    <div class="encyclopedia-each">
        <h2>冬季如何养小香猪？</h2>
        <div>
            <img src="images/pigRaise04.jpg" alt=""/>
            室温20度以上比较适合猪猪，即便如此，一个暖和的窝也是必不可少的，这个窝需要达到棉被级别。尽量不要外出，如果一定要出去，穿上保暖的衣服，
            在有太阳的日子出去。若感染了呼吸道疾病进而转成肺炎，这可是要命的。年纪越大的猪抗冻能力越强，八九个月以上的胖猪就不太怕，出去不会有太大问题，但不能时间太长。
            冬季饮食上要适当多一点，让猪猪摄入充足的热量御寒。另外冬季也不要忘记让猪猪吃一定量的水果蔬菜，防止春天到来时猪猪上火。
            南方没有暖气，冬天室温可能比较低，要特别注意猪猪睡觉时的保暖措施。
            洗澡的时候一定要吹干，可以用吸水性超强的毛巾给猪猪擦，比如女士擦头发的那种。注意洗澡频率，冬季气候干燥，猪猪皮肤太干就会起皮，保持适当的洗澡频率十分必要，可以一周到两周一次。如果发现猪猪的蹄子裂了也要抹点保湿的东西啊。
        </div>
    </div>

    <button><a href="#/">返回主页</a></button>
</div>
