
<div class="encyclopedia">
    <h2>饲养百科——龙猫饲养</h2>
    <div class="encyclopedia-each">
        <h2>刚买回家的龙猫需要注意什么？</h2>
        <div>
            <img src="images/totoroRaise01.jpg" alt=""/>
            应尽量不要打扰龙猫，不要抱龙猫出笼玩耍，给他一段适应期，让他自己去探索新居。 将笼子固定在一个地方，在短期内不要改动笼子的位置。 看龙猫是否出现腹泻现象而决定是否食用龙猫主粮。当然，零食如苹果干，葡萄干，乳酪糖等都是龙猫的最爱，但新来的龙猫吃少许零食可以讨他欢心，更能令他喜欢这个新的家。不过要注意不能喂太多，因很多零食都含有较高的水分，较湿润，可能令龙猫腹泻。
            况且吃太多零食，更会令龙猫减少对干草、主粮的食欲，变得偏食。 尽量延用龙猫在宠物店所吃惯的龙猫粮，如果想换其他牌子的主粮，最好在2至3星期之后。 在每次喂食时，可唤他的名字并轻轻的摸他的头（但不要触及他的身体，原因是为了避免龙猫误会主人要抓它），让他渐渐认识你，熟悉你的声音及气味。
        </div>
    </div>
    <div class="encyclopedia-each">
        <h2>刚买回家的龙猫发出怪叫，为什么？</h2>
        <div>
            <img src="images/totoroRaise02.jpg" alt=""/>
            由于龙猫喜欢稳定的生活，胆子也比较小，所以刚买回家的龙猫可能出现情绪不安的现象（这种情况很普遍，不需要太担心）。新带回家的龙猫可能会因为对新环境的不习惯而发出怪叫，紧张的每天在笼内跳来跳去，有些龙猫可能会出现腹泻现象。但普遍来说，这种情绪不安的现象多只会维持大约两至三天。这时你应尽量不去骚扰他，及尝试安抚他的情绪。
        </div>
    </div>
    <div class="encyclopedia-each">
        <h2>龙猫的饮食需要注意什么？</h2>
        <div>
            <img src="images/totoroRaise03.jpg" alt=""/>
            它们可能会喜欢食鸟粮或仓鼠粮, 但长期用其它饲料喂龙猫仔可能对它们有害的, 而且不是实时可以察觉出来的.龙猫仔最常见的都是肠胃病, 只要不乱给它们零食, 通常是很少有问题的.
            绿色的植物例如生菜等等, 间中给一两块可以, 但大量的话会引起肚泻.
            西洋杉的木(红木)对它们是有害的.龙猫粮（主食）， 苜蓿干草 ，有粗纤维、蛋白质和钙（因为龙猫不晒太阳，钙主要由苜蓿干草提供）,是主要的配餐,粗纤维可以促进肠胃蠕动，保证消化过程的顺利进行，而且可以用来磨牙 饮用水 龙猫每日的饮水量在20-30ml,定期清理饮水器,保证水质干净 还有葡萄干,瓜子，香蕉干，但不要每天吃，每天给一到两颗葡萄干就够了，龙猫不能吃花生和黄豆！！
        </div>
    </div>
    <div class="encyclopedia-each">
        <h2>龙猫的窝也有要求？</h2>
        <div>
            <img src="images/totoroRaise04.jpg" alt=""/>
            夏天是龙猫难过的季节，因为龙猫毛很厚，所以在夏天天气闷热的时候，家里最好开空调来降低室内温度。
            龙猫笼子要放在阴凉、空气流通的地方，但不可放在风口处，如果龙猫一直被风直接吹的话会感冒。
            龙猫笼子要摆放在安静的地方，如果周围环境吵闹，龙猫会因紧张而休息不好。
        </div>
    </div>
    <div class="encyclopedia-each">
        <h2>如何和龙猫拉近关系？</h2>
        <div>
            <img src="images/totoroRaise05.jpg" alt=""/>
            平时可以用少量零食来讨好龙猫，接近它;可是不可多喂，比如葡萄干，每天喂1到2颗的分量就可以了。如果多喂零食的话不仅会让龙猫挑食、不吃主食导致长期营养不良，更可能造成龙猫的消化不良、腹泻。
            龙猫刚到新家时，主人先不要急着把它放出笼子来，要先让它自己在笼子里呆上一段时间以熟悉新环境和新主人，然后再放出来让它玩会儿，时间掌握可以先短点，游玩空间也可以先以小空间为宜。
            平时主人没事时可以在龙猫笼子旁轻轻地叫龙猫的名字，并和它说说话，这样做可以让龙猫记住它的名字和主人的声音，要注意的是一定要亲切地说，不可大声地骂它，否则龙猫只会怕你而不会和你接近。
        </div>
    </div>
    <button><a href="#/">返回主页</a></button>
</div>