
<div id="pageContain">
    <!--第一屏-->
    <div class="page page1 current">
        <div class="contain">
            <div class="home-first-content">
                <p class="p1">Love&nbsp;&nbsp;Our&nbsp;&nbsp;Pets&nbsp;&nbsp;Every&nbsp;&nbsp;Day</p>

                <div class="home-first-content-left">
                    PETS HOUSE
                </div>
                <div class="home-first-content-right">
                    <p class="p2">狗狗需要关爱，他们也有沐浴阳光的权利</p>

                    <p class="p3">宠物医疗美容寄养</p>
                </div>
            </div>
        </div>
    </div>
    <!--第二屏-->
    <div class="page page2">
        <div class="contain">
            <div class="page2-main">
                <div class="page2-title">宠物医疗</div>
                <div class="page2-context">
                    <div class="page2-a">
                        外科疾病
                    </div>
                    <div class="page2-b"></div>
                    <div class="page2-a">
                        宠物传染病
                    </div>
                    <div class="page2-b"></div>
                    <div class="page2-a">
                        人畜共患疾病
                    </div>
                </div>
                <div class="page2-c">
                    PET CARE
                </div>
            </div>
            <div class="page2-text">
                养狗狗需要大量的时间和精力，特别是对于初次养狗狗的人来说，养好一只健康的狗狗十分的不容易！一般来说，照顾好一只狗狗首先就是要照顾好狗狗的饮食！
            </div>
        </div>
    </div>
    <!--第三屏-->
    <div class="page page3">
        <div class="contain contain3">
            <div>
                <div></div>
                <div></div>
                <div>宠物美容</div>
            </div>
            <div>PET GROOMING</div>
            <div>宠物美容对宠物的健康大有益处。
                例如梳毛可以按摩宠物的皮肤、促进宠物的血液循环，减少宠物患皮肤病的几率。
                除健康因素外，宠物美容也是一种时尚潮流，美容技巧配合修剪技术可将宠物的优点表露出来，
                突出宠物可爱的一面
            </div>
            <div>
                <div>宠物SPA</div>
                <div>宠物造型</div>
                <div>宠物洗浴</div>
            </div>
        </div>
    </div>
    <!--第四屏-->
    <div class="page page4">
        <div class="contain contain4">
            <div>
                <div>宠物寄养</div>
                <div>PET FOSTER</div>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div>
                对爱狗的我们来说，经营这项事业，绝对需要高度的职业道德，更需要一颗爱心。
                因为我们爱狗，所以我们希望每一只出自本犬舍的犬只，都能健康成长，
                愿我们的爱犬将为您及家人带去无限的欢乐。
            </div>
            <div>
                <div>安心的保障</div>
                <div>实时了解动态</div>
            </div>

        </div>
    </div>
    <!--页脚-->
    <div class="page page5">
        <div class="contain">
            <div class="home-footer-main">
                <div class="home-footer-title" style="font-size: 40px;">联系我们</div>
                <div class="home-footer-title" style="font-size: 20px;">CONTACN&nbsp;US</div>
                <hr/>
                <div class="home-footer-title" style="font-size: 20px;">爱宠屋&nbsp;&nbsp;爱宠物</div>
                <div class="home-footer-contact">
                    <div class="home-footer-contactList">
                        <div class="home-footer-contactIcon"><img ng-src="images/link1.png" alt=""/></div>
                        <div class="home-footer-contactInformation">0517-84720394</div>
                    </div>
                    <div class="home-footer-contactList">
                        <div class="home-footer-contactIcon"><img ng-src="images/link2.png" alt=""/></div>
                        <div class="home-footer-contactInformation">18362219753</div>
                    </div>
                    <div class="home-footer-contactList">
                        <div class="home-footer-contactIcon"><img ng-src="images/link3.png" alt=""/></div>
                        <div class="home-footer-contactInformation">461634717@qq.com</div>
                    </div>
                    <div class="home-footer-contactList">
                        <div class="home-footer-contactIcon"><img ng-src="images/link4.png" alt=""/></div>
                        <div class="home-footer-contactInformation">大不例颠高新区</div>
                    </div>
                </div>
                <div class="home-footer-EWM">
                    <img ng-src="images/EWM.png" width="160" height="160" alt=""/>
                </div>
            </div>

        </div>
    </div>
</div>
<ul id="navBar">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>