<div class="personInfo-bg">
    <div>
        <div class="personInfo-wrapper">
            <div class="personInfo-left">
                <p><b>个人设置</b></p>
                <p><a href="#/personCenter">个人中心</a></p>
                <p><a href="#/personOrder">我的订单</a></p>
                <p><a href="#/changePassword">修改密码</a></p>
                <p><a href="#/createPetInfor">添加宠物</a></p>
                <p><a href="#/changePersonInfor">修改个人信息</a></p>
            </div>
            <!-- // 右边导航 -->
            <div class="personInfo-right">
                <div style="overflow:hidden;">
                    <p class="personInfo-right-1">修改密码</p>
                    <p class="personInfo-right-2"></p>
                </div>
                <!-- //右边表单 -->
                <div class="personInfo-right-form">
                    <form novalidate name="frmPassword" ng-submit="btnNewPassword();">
                        <!-- 旧密码 -->
                        <div>
                            <label for="oldPassword"><span>* </span>旧密码：</label>
                            <input type="password" id="oldPassword" name="oldPassword" required ng-model="newPassword.old"/>
                        </div>
                        <!-- 新密码 -->
                        <div>
                            <label for="newPassword"><span>* </span>新密码：</label>
                            <input type="password" id="newPassword" name="newPassword" ng-model="newPassword.new" required pattern='(\w){6,20}'/>
                            <span ng-show="frmPassword.newPassword.$pristine && !frmPassword.submitted">
                                <i class="icon-info-circled" style="color: #666666"></i>
                                请输入6~20位的字母、数字或下划线
                            </span>
                            <span ng-show="frmPassword.newPassword.$dirty && frmPassword.newPassword.$valid">
                                <i class="icon-ok-circled" style="color: #00aa98"></i>
                                当前密码有效
                            </span>
                            <span ng-show="(frmPassword.newPassword.$dirty || frmPassword.submitted) && frmPassword.newPassword.$error.pattern">
                                <i class="icon-cancel-circled" style="color: #FE5F40"></i>
                                密码长度为6~20位字母、数字或下划线
                            </span>
                            <span ng-show="(frmPassword.newPassword.$dirty || frmPassword.submitted) && frmPassword.newPassword.$error.required">
                                <i class="icon-cancel-circled" style="color: #D9534F"></i>
                                新密码不能为空
                            </span>
                        </div>
                        <!-- 确认密码 -->
                        <div>
                            <label for="confirmPassword"><span>* </span>确认密码：</label>
                            <input type="password" id="confirmPassword" name="confirmPassword" ng-model="newPassword.con" required />
                            <span ng-show="frmPassword.newPassword.$dirty && frmPassword.newPassword.$valid && newPassword.con == newPassword.new">
                                <i class="icon-ok-circled" style="color: #00aa98"></i>
                                确认密码有效
                            </span>
                        </div>
                        <!-- 提交 -->
                        <div>
                            <button type="submit" class="btnSubmit">提交</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>