<div class="personInfo-bg">
    <div>
        <div class="personInfo-wrapper">
    <div class="personInfo-left">
        <p><b>个人设置</b></p>
        <p><a href="#/personCenter">个人中心</a></p>
        <p><a href="#/personOrder">我的订单</a></p>
        <p><a href="#/changePassword">修改密码</a></p>
        <p><a href="#/createPetInfor">添加宠物</a></p>
        <p><a href="#/changePersonInfor">修改个人信息</a></p>
    </div>
    <!-- // 右边导航 -->
    <div class="personInfo-right">
        <div style="overflow:hidden;">
            <p class="personInfo-right-1">添加宠物</p>
            <p class="personInfo-right-2"></p>
        </div>
        <!-- //右边表单 -->
        <div class="personInfo-right-form">
            <form novalidate ng-submit="btnNewPet();" name="myForm">
                <div>
                    <label for="master"><span>* </span>主人：</label>
                    <input type="text" id="master" ng-model="newPet.personName" readonly/>
                </div>
                <!-- 昵称 -->
                <div>
                    <label for="petBab"><span>* </span>名字：</label>
                    <input type="text" id="petBab" ng-model="newPet.name" name="petBab" pattern="[\u4e00-\u9fa5A-Za-z]{2,12}" required/>
                    <span ng-show="myForm.petBab.$pristine && !myForm.submitted">
                        <i class="icon-info-circled" style="color: #666666"></i>
                        请输入2~12位的字母或汉字
                    </span>
                    <span ng-show="myForm.petBab.$dirty && myForm.petBab.$valid">
                        <i class="icon-ok-circled" style="color: #00aa98"></i>
                        当前名字可用
                    </span>
                    <span ng-show="(myForm.petBab.$dirty || myForm.submitted) && myForm.petBab.$error.pattern">
                        <i class="icon-cancel-circled" style="color: #FE5F40"></i>
                        宠物名称长度为2~12位字母或汉字
                    </span>
                    <span ng-show="(myForm.petBab.$dirty || myForm.submitted) && myForm.petBab.$error.required">
                        <i class="icon-cancel-circled" style="color: #00aa98"></i>
                        名称不能为空
                    </span>
                </div>
                <!-- 年龄 -->
                <div>
                    <label for="petOld"><span>* </span>年龄：</label>
                    <input type="text" id="petOld" ng-model="newPet.old" name="petOld" pattern="^[0-9]{0,1}[0-9]{0,1}" required/>
                    <span ng-show="myForm.petOld.$pristine && !myForm.submitted">
                        <i class="icon-info-circled" style="color: #666666"></i>
                        请输入0~99之间的数字
                    </span>
                    <span ng-show="myForm.petOld.$dirty && myForm.petOld.$valid">
                        <i class="icon-ok-circled" style="color: #00aa98"></i>
                        当前年龄可用
                    </span>
                    <span ng-show="(myForm.petOld.$dirty || myForm.submitted) && myForm.petOld.$error.pattern">
                        <i class="icon-cancel-circled" style="color: #FE5F40"></i>
                        宠物年龄为0~99之间的数字
                    </span>
                    <span ng-show="(myForm.petOld.$dirty || myForm.submitted) && myForm.petOld.$error.required">
                        <i class="icon-cancel-circled" style="color: #00aa98"></i>
                        年龄不能为空
                    </span>
                </div>
                <!-- 性别 -->
                <div style="position: relative;height:32px;">
                    <label style="position: absolute;top:15px;left:0px;"><span>* </span>性别：</label>
                    <div style="position: absolute;top:15px;left:170px;">公</div>
                    <div class="sex-btn" style="position: absolute;left:190px;">
                        <input type="radio" id="male" name="sex" ng-model="newPet.sex" value="雄"/>
                        <label for="male" id="sexBtn"></label>
                        <input type="radio" id="female" name="sex" ng-model="newPet.sex" value="雌"/>
                    </div>
                    <div style="position: absolute;top:15px;left:300px;">母</div>
                </div>
                <!-- 类别 -->
                <div>
                    <label><span>* </span>类别：</label>
                    <select name="" id="petCategory" ng-model="newPet.classId" style="width:145px;">
                        <option value="" >选择类别</option>
                        <option ng-repeat="item in petClassList" value="{{item.Id}}">{{item.Name}}</option>
                    </select>
                </div>
                <!-- 提交 -->
                <div>
                    <button type="submit" class="btnSubmit">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
    </div>
</div>